# .gitconfig

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	editor = vi
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = false

[push]
	default = simple

[user]
	email = tkimball@linuxhq.org
	name = Taylor Kimball

[includeIf "gitdir:~/Local/"]
	path = ~/.gitconfig.local
